name: proteen server CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  S3_BUCKET_NAME: degaja

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set yml
      uses: actions/set-yml@v2
      with:
        files: ./src/main/resources/application.yml
      env:
        spring.datasource.url: ${{ secrets.DB_URL }}
        spring.datasource.username: ${{ secrets.DB_USERNAME }}
        spring.datasource.password: ${{ secrets.DB_PASSWORD }}
        spring.jwt.secret.access: ${{ secrets.JWT_ACCESS_KEY }}
        spring.jwt.secret.refresh: ${{ secrets.JWT_REFRESH_KEY }}
        cloud.aws.s3.bucket: ${{ secrets.AWS_S3_BUCKET }}
        cloud.aws.credentials.access-key: ${{ secrets.AWS_S3_ACCESS_KEY }}
        cloud.aws.credentials.secret-key: ${{ secrets.AWS_S3_SECRET_KEY }}


    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Build with Gradle
      run: ./gradlew clean build --exclude-task test
      
    - name: Make Directory
      run: mkdir -p proteen
        
    - name: Copy Jar
      run: cp ./build/libs/*.jar ./proteen

    - name: Copy appspec.yml
      run: cp appspec.yml ./proteen

    - name: Copy script
      run: cp ./scripts/*.sh ./proteen

    - name: Make zip file
      run: zip -r ./proteen.zip ./proteen
      shell: bash

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Upload to S3
      run: aws s3 cp --region ap-northeast-2 ./proteen.zip s3://$S3_BUCKET_NAME/
        
    # Deploy
    - name: Deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        aws deploy create-deployment \
        --application-name proteen \
        --deployment-group-name proteenGroup \
        --file-exists-behavior OVERWRITE \
        --s3-location bucket=degaja,bundleType=zip,key=proteen.zip \
        --region ap-northeast-2